// sass --watch scss:css

* {
    margin: 10px;
    padding: 10px;
}

$arr: 10, 12, 23;

$map: (
    10: 30px,
    23: 15px,
    48: 45px,
);

// @function num($n) {
//     .num-#{$n} { 
//         color: rgb($n, (256 - $n), 0);

//         // @if 
//     }
// }


@for $n from 1 through 100 {
    .num-#{$n} { 
        color: rgb($n, (256 - $n), 0);

        // @if 
    }
    // @if calc($n, 2)
}

// @for $p in $map {}